:root {
  --color-background: white;
  --color-midground: grey;
  --color-foreground: black;
  --space: 8px;
  --space2: 16px;
  --space4: 16px;
  --space_2: 4px;
  --space_4: 2px;
  --space_8: 1px;
  --header-height: calc(var(--space) * 4);
  font-size: 1px;
}
* {
  box-sizing: border-box;
}
/* a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: var(--space_2);
} */

html,
body {
  height: 100%;
  margin: 0;
  font-size: 14rem;
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: var(--space);
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: lightblue;
  padding: var(--space);
}
header span {
  margin-left: auto;
}

.pages {
  padding: var(--space);
}
.pages > section {
  padding-top: var(--header-height);
  flex-direction: column;
  gap: var(--space);
  height: calc(100vh - var(--space2));
}
.pages > section > *:last-child {
  flex: 1 1 auto;
  gap: var(--space);
}

.pages > * {
}
.pages > * {
  display: none;
}
.pages > *:last-child {
  display: flex;
}
.pages > *:target {
  display: flex;
}
.pages > *:target ~ * {
  display: none;
}
#hosts {
  flex-direction: column;
  gap: var(--space);
}
#add-host {
  flex: 0 0 auto;
  width: max-content;
}
#host-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space);
  height: 50%;
  overflow-y: scroll;
}
#host-list > * {
  margin: var(--space_8);
}

#log-box {
  display: flex;
  flex-direction: column;
  padding: var(--space);
  overflow-y: scroll;
  flex: 1 1 auto;
}

.host {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.host main {
  padding: var(--space);
  font-family: monospace;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: var(--space);
  align-items: center;
  min-height: calc(4 * var(--space));
}
.host textarea {
  border-top: none;
  border: none;
  padding: var(--space);
  resize: vertical;
  width: 100%;
  border-radius: none;
  min-height: calc(12 * var(--space));
}

.host .close {
  cursor: pointer;
  margin-bottom: auto;
}
.host .close::before {
  content: "⦻";
  color: red;
}

.claim-host {
  display: none;
}

.unclaimed .claim-host {
  display: inline-block;
}

.unclaimed
  :is(.update-function, .set-file-handler, .load-function-file, .close) {
  display: none;
}

.load-function-file,
.claim-host {
  margin-left: auto;
}

.circ {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-midground);
}

.circ.first.selected {
  background-color: Crimson;
}
.circ.last-used.selected {
  background-color: GoldenRod;
}
.circ.round-robin.selected {
  background-color: ForestGreen;
}
.circ.random.selected {
  background-color: DeepSkyBlue;
}

.comparison-table,
.comparison-table :is(th, td) {
  text-align: center;
  border: 1px solid var(--color-midground);
  border-collapse: collapse;
  min-height: 128rem;
  vertical-align: middle;
}

.comparison-table tr:first-child {
  font-weight: bold;
}

.comparison-table .clear-winner {
  background-color: LawnGreen;
}

#requests-method {
}
#requests-form {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}
#requests-headers {
  min-height: calc(8 * var(--space));
}
#requests-body {
  min-height: calc(12 * var(--space));
}
#requests-send {
  width: max-content;
}

#response-box {
  overflow-y: scroll;
}
