:root {
  --COLOR_DARK_BACKGROUND: #212121;
  --COLOR_DARK_MIDGROUND: #2b2b2b;
  --COLOR_DARK_FOREGROUND: #f8f8f8;
  --COLOR_LIGHT_BACKGROUND: #f8f8f8;
  --COLOR_LIGHT_MIDGROUND: #e0e0e0;
  --COLOR_LIGHT_FOREGROUND: #141212;

  --space: 8px;
  --space2: calc(var(--space) * 2);
  --space4: calc(var(--space) * 4);
  --space8: calc(var(--space) * 8);
  --space16: calc(var(--space) * 16);
  --space_2: calc(var(--space) / 2);
  --space_4: calc(var(--space) / 4);
  --space_8: calc(var(--space) / 8);
  --space_16: calc(var(--space) / 16);
  --header-height: var(--space8);
  --gap: var(--space2);
  font-size: 1px;
  --body-font-size: 24rem;
  --font-family: "Oswald";
  --color-info: DeepSkyBlue;
  --color-success: ForestGreen;
  --color-warning: GoldenRod;
  --color-warning-severe: Crimson;

  /* Default Color Scheme */
  --color-background: var(--COLOR_DARK_BACKGROUND);
  --color-midground: var(--COLOR_DARK_MIDGROUND);
  --color-foreground: var(--COLOR_DARK_FOREGROUND);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--COLOR_LIGHT_BACKGROUND);
    --color-midground: var(--COLOR_LIGHT_MIDGROUND);
    --color-foreground: var(--COLOR_LIGHT_FOREGROUND);
  }
}

:root .light {
  --color-background: var(--COLOR_LIGHT_BACKGROUND);
  --color-midground: var(--COLOR_LIGHT_MIDGROUND);
  --color-foreground: var(--COLOR_LIGHT_FOREGROUND);
}
:root .dark {
  --color-background: var(--COLOR_DARK_BACKGROUND);
  --color-midground: var(--COLOR_DARK_MIDGROUND);
  --color-foreground: var(--COLOR_DARK_FOREGROUND);
}

/* a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: var(--space_2);
} */

html,
body {
  height: 100%;
  font-size: var(--body-font-size);
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow-y: hidden;
}

h1 {
  font-size: calc(var(--body-font-size) * 1.8);
  font-weight: bold;
}
h2 {
  font-size: calc(var(--body-font-size) * 1.6);
  font-weight: bold;
}
h3 {
  font-size: calc(var(--body-font-size) * 1.4);
  font-weight: bold;
}
h4 {
  font-size: calc(var(--body-font-size) * 1.2);
  font-weight: bold;
}
h5 {
  font-size: calc(var(--body-font-size) * 1);
  font-weight: bold;
}
h6 {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: var(--space2);
  padding-bottom: var(--space2);
}
p {
  padding: var(--space2);
  line-height: 100%;
}
p.help-text {
  padding: none;
  font-size: calc(var(--body-font-size) * 0.8);
}

textarea,
input,
label,
select,
button,
a.button {
  font-size: calc(var(--body-font-size) * 0.8);
  font-family: var(--font-family);
  text-decoration: none;
  line-height: normal;
}
button[disabled] {
  color: grey;
}

textarea,
input,
select {
  color: var(--color-foreground);
  background-color: var(--color-midground);
  border: none;
  padding: var(--space2);
}
textarea {
  padding: var(--space2);
}

button,
a.button,
label {
  vertical-align: middle;
  display: inline-block;
  padding: var(--space2);
  background-color: var(--color-background);
  border-radius: var(--space_2);
  cursor: pointer;
  font-family: var(--font-family);
  color: var(--color-foreground);
}
button,
a.button {
  border: 1px solid var(--color-midground);
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: var(--gap);
  position: fixed;
  z-index: 1;
  width: 100vw;
  background-color: var(--color-background);
  padding: var(--space);
}
header .title {
  font-size: calc(var(--body-font-size) * 1.4);
  padding-left: calc(4 * var(--space));
}

header span {
  margin-left: auto;
}
nav {
  font-size: calc(var(--body-font-size) * 1.4);
  position: absolute;
  right: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: var(--space);
  background-color: var(--color-background);
  transform: translateX(1em);
  transition: 0.5s transform;
  gap: var(--space);
  border-right: 1px solid var(--color-midground);
}
nav .open-status {
  width: 100;
  transition: 0.5s transform;
}
nav a {
  opacity: 0;
  transition: 0.5s opacity;
}
nav:is(:hover, :focus-within) a {
  opacity: 1;
}

nav .open-status::before {
  content: "◀";
}

nav:is(:hover, :focus-within) .open-status {
  transform: rotate(-90deg);
}

nav:is(:hover, :focus-within) {
  transform: translateX(100%);
}

.pages {
  padding: var(--space) var(--space8);
}
.pages > section {
  padding-top: var(--header-height);
  flex-direction: column;
  gap: var(--gap);
  height: calc(100vh - var(--space2));
}
.pages > section > *:last-child {
  flex: 1 1 auto;
  gap: var(--gap);
  overflow-y: scroll;
}

.pages > * {
}
.pages > * {
  display: none;
}
.pages > *:last-child {
  display: flex;
}
.pages > *:target {
  display: flex;
}
.pages > *:target ~ * {
  display: none;
}
#hosts {
  flex-direction: column;
  gap: var(--gap);
}

#hosts-controls {
  display: flex;
  gap: var(--gap);
  align-items: center;
}
#add-host {
  flex: 0 0 auto;
  width: max-content;
  font-weight: bold;
  font-size: calc(var(--body-font-size) * 1.1);
}
#settings-reload-cluster {
}

#settings-reset-cluster {
  color: var(--color-warning);
}

#settings-reset-cluster-and-close {
  color: var(--color-warning-severe);
}

#host-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 50%;
}
#host-list:empty::before {
  content: 'click "About" to learn more';
  opacity: 0.75;
  font-size: calc(var(--body-font-size) * 0.8);
}
#host-list > * {
  margin: var(--space_8);
}

#log-box {
  display: flex;
  flex-direction: column;
  padding: var(--space);
  flex: 1 1 auto;
}

.host {
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}
.host main {
  padding: var(--space);
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: var(--gap);
  align-items: center;
  min-height: calc(4 * var(--space));
  align-content: stretch;
}
.host main button {
  height: 100%;
  line-height: 1.5;
  vertical-align: middle;
}
.host textarea {
  border-top: none;
  border: none;
  padding: var(--space2);
  resize: vertical;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: calc(24 * var(--space));
}

.host .close {
  cursor: pointer;
  margin-bottom: auto;
  color: Crimson;
  font-size: calc(var(--body-font-size) * 3 / 4);
}

.unclaimed
  :is(.update-function, .set-file-handler, .load-function-file, .close) {
  display: none;
}

.claim-host {
  display: none;
}

.unclaimed .claim-host {
  margin-left: auto;
  display: block;
}

.unclimed .duplicate-host {
  display: none;
}

.load-function-file {
  margin-left: auto;
}

.toggler {
  display: inline-block;
  cursor: pointer;
  color: var(--color-foreground);
  padding: 0px;
}
.toggler.first.selected {
  color: Crimson;
}
.toggler.last-used.selected {
  color: GoldenRod;
}
.toggler.round-robin.selected {
  color: ForestGreen;
}
.toggler.random.selected {
  color: DeepSkyBlue;
}

.comparison-table,
.comparison-table :is(th, td) {
  text-align: center;
  border: 1px solid var(--color-midground);
  border-collapse: collapse;
  min-height: 128rem;
  vertical-align: middle;
}
.comparison-table tr {
  height: var(--space8);
}
.comparison-table {
  width: 100%;
}

.comparison-table tr:first-child {
  font-weight: bold;
}

.comparison-table .clear-winner {
  background-color: var(--color-success);
}

#requests-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
#requests-headers {
  min-height: calc(8 * var(--space));
}
#requests-body {
  min-height: calc(12 * var(--space));
}
#requests-send {
  width: max-content;
}
#requests-abort {
  width: max-content;
}

#responses {
  display: flex;
  flex-direction: column;
  gap: var(--space4);
}

#responses .preamble {
  font-weight: bold;
}

#responses .request {
  border-bottom: 1px dotted black;
}
#responses .response {
  border-bottom: 1px dashed black;
}

#responses .response .headers .key::after {
  content: ":";
}
#responses .response .headers a {
  cursor: pointer;
}
#responses .preview {
  width: 100%;
}

.log {
  color: skyblue;
}
.request {
  color: grey;
}
.response {
  color: var(--color-success);
}
.response.notok {
  color: var(--color-warning);
}
